<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <mat-card class=".example-card">
      <mat-card-header>
        <mat-card-title>
          <span class="md-headline">Suggestions du moment</span>
        </mat-card-title>
        <mat-card-subtitle>NOMMUSIQUE</mat-card-subtitle>
      </mat-card-header>
      <img
        src="https://picsum.photos/500/500"
        mat-card-image
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions layout="row" layout-align="end center">
        <button mat-button>Mettre en favori</button>
        <button mat-button>Supprimer des suggestions</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <section *ngSwitchCase="'list'">

  </section>
</section>

<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
