<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Ajouter une musique</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <p [class.errors]="form.get('title')!.invalid && (form.get('title')!.dirty || form.get('title')!.touched)">
        <mat-form-field class="name" >
          <mat-label>Titre</mat-label>
          <input formControlName="title" name="title" matInput placeholder="Ex: Gangnam Style" required/>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['required']"><br />Le titre est obligatoire</mat-error>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['minlength']"><br />Le titre doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
        <mat-form-field class="name" >
          <mat-label>Artiste</mat-label>
          <input formControlName="artist"  matInput placeholder="Ex: Sum 41" name="artist" required/>
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['required']"><br />L'artiste est obligatoire</mat-error>
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['minlength']"><br />L'artiste doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Album</mat-label>
          <input formControlName="album"  matInput placeholder="Ex: Chuck" name="album" required/>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Description</mat-label>
          <input formControlName="description"  matInput placeholder="Ex: Album genial" name="description" required/>
          <mat-error *ngIf="form.get('description')!.dirty && form.get('description')!.errors?.['minlength']"><br />L'artiste doit avoir au moins 10 caractères </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Durée</mat-label>
          <input formControlName="duration" matInput placeholder="Ex: 3:34 min" name="duration" required/>
          <mat-error *ngIf="form.get('duration')!.dirty && form.get('duration')!.errors?.['required']"><br />La durée du morceau est obligatoire</mat-error>
        </mat-form-field>
      </p>

      <!--<input #fileInput type="file" (change)="onFileSelected($event)"  name="photo" style="display: none;" accept=".png,.jpg" />
      <div *ngIf="musiqueModel.picture" >
        <img width="100" src="{{musiqueModel.picture}}" alt="Photo de l'employé" /> <br>
        <button mat-flat-button color="warn" (click)="musiqueModel.picture = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!musiqueModel.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>-->
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
