<div class="main-div">
  <mat-card class=".example-card">
    <mat-card-header>
      <mat-card-title
        ><span class="md-headline">Suggestions du moment</span>
      </mat-card-title>
      <mat-card-subtitle>NOMMUSIQUE</mat-card-subtitle>
    </mat-card-header>
    <img
      src="https://picsum.photos/500/500"
      mat-card-image
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content> </mat-card-content>
    <mat-card-actions layout="row" layout-align="end center">
      <button mat-button>Mettre en favori</button>
      <button mat-button>Supprimer des suggestions</button>
    </mat-card-actions>
  </mat-card>
</div>
<button id="refresh" mat-fab color="primary">
  <mat-icon>refresh</mat-icon>
</button>
